

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}








#logo{
    
    height: calc(6em + 6vw);
    box-sizing: border-box; 
    animation: go-up 1s ease-in-out forwards 5.4s;
}
#logo #dal{
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: line-anim 3s ease-out forwards 2s;
}
#logo #mohammad{
    stroke-dasharray: 790;
    stroke-dashoffset: 790;
    animation: line-anim 3s ease-out forwards ;
}
#logo #maso{
    stroke-dasharray: 752;
    stroke-dashoffset: 752;
    animation: line-anim 3s ease-out forwards 1s;
}
#logo #ya{
    stroke-dasharray: 511;
    stroke-dashoffset:511;
    animation: line-anim 3s ease-out forwards 3s;
}
#logo #line { 
    animation: show-line 1s ease-out forwards 5.24s;
}







.cls-1,
              .cls-2 {
                fill: none;
              }
              .cls-2 {
                stroke: rgb(224, 224, 224);
              }
              .cls-3 {
                stroke: transparent;
              }